.wrapper{
   width: 16vw;
   padding: 5vw 7vw 7vw 10vw;
   background: #FEFDF9;
}
.wrapper h3{
   font-size: 1.4rem;
   color: #543D32;
}
.wrapper p{
   color: #333;
}
.wrapper a{
   text-decoration: none;
   color: #543D32;
   font-weight: bolder;
}