.hero{
   height: 90vh;
   background: url('./hero_image.jpg') center;
   background-size: cover;
}
.hero .image{
   background: rgba(0,0,0,.4);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.text-box{
   opacity: 1;
   font-size: 30px;
   color: white;
   text-align: center;
   width: 56%;
   text-shadow: 0 0 5px black;
}